services:
  - type: web
    name: iep-recrutamento
    env: node
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_VERSION
        value: 18
      - key: ADMIN_PASSWORD
        sync: false
      - key: PORT
        value: 10000

